/* strat variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
  }
/* end varibales  */

/* start global rules */
*{
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;

}
body{
    font-family: "Work Sans";
}

.parent{
    background-color: #eee;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container {
      width: 750px; /* Default container width for tablets */
    }
  }
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    .container {
      width: 970px; /* Default container width for desktops */
    }
  }
  
  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) { 
    .container {
      width: 1170px; /* Default container width for large desktops */
    }
  }
/* end global rules */


html{
    /* when you click at an href="#services"  the scrolling will be smoothly*/
    scroll-behavior: smooth;
}


/* Start Components */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
  }
  .special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
  }
  @media (max-width: 767px) {
    .special-heading {
      font-size: 60px;
    }
    .special-heading + p {
      margin-top: -20px;
    }
  }
  /* End Components */

/* start header */

.header {
    padding: 20px;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .logo {
    width: 60px;
  }
  .header .links {
    position: relative;
  }
  .header .links:hover .icon :nth-child(2) {
    width: 100%;
  }
  .header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
  }
  .header .links .icon span:first-child {
    width: 100%;
  }
  .header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
  }
  .header .links .icon span:last-child {
    width: 100%;
  }
/* customis links inside a berger icon  */
  .header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    /* to be in the top when we open it  */
    z-index: 1;
  }
  .header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
  }
  .header .links:hover ul {
    /* when I hover the ul and it opened if I hover the openning 
        links the ul should still openning */
    display: block;
  }
  .header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
  }
  .header .links ul li a:hover {
    /* cause we have a padding 15px in all sides 
    so this will make tha padding left +15px */
    padding-left: 25px;
  }
  .header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
  }

  /* Start Landing Section */
.landing {
    background-image: url(../media/istockphoto-584574568-612x612.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
  }
  .landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
     text-align: center;
    width: 320px;
    max-width: 100%;
  }
  .landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
  }
  .landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
  }
/* the differences I made : this difference make the p large in the 
big screen an in the pc we have a p in two lines even the screen is large  */

/* .landing .intro-text {
color: white;
display: flex;
flex-flow: wrap;
justify-content: center;
align-items: center;
}
.landing .intro-text h1 {
    margin: 0;
    width: 100%;
    text-align: center;
}
.landing .intro-text p {
    margin: 0;
    width: 100%;
    text-align: center;
} */
/* end header */


/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
  }
  .features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  .features .feat {
    padding: 20px;
    text-align: center;
  }
  .features .feat i {
    color: var(--main-color);
  }
  .features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
  }
  .features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
  }
  /* End Features */

  /* strat */

 /* Start Services  */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }
  .services .services-content {
    /* inside the services content we have 2 divs(col)
    each one will be a col , and the serv cont has also an image 
    so the image is another div will have a 3rd col */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
  }
  .services .services-content .srv {
    /* we have 2 elemnt inside the .srv (divtxt and the icon) so the default flex-flow:row 
    will make the icon inside the divtxt  */
    display: flex;
    margin-bottom: 40px;
  }
  @media (max-width: 767px) {
    .services .services-content .srv {
        /* if we shift to mobile the srv must be columns */
      flex-direction: column;
      text-align: center;
    }
  }
  .services .services-content .srv i {
    color: var(--main-color);
    /* if the flex-direction is row flex basis will define the width 
    when we shift to phone the FD will be column so the basis will define the height */
    flex-basis: 60px;
  }
  .services .services-content .srv .text {
    /* make the text away of icons ??? */
    flex: 1;
  }
  .services .services-content .srv .text h3 {
    /* to hide the margin of the heading  */
    margin: 0 0 20px;
  }
  .services .services-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
  }
  .services .services-content .image {
    text-align: center;
    position: relative;
  }
  .services .services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
  }
  .services .services-content .image img {
    /* customiz the picture */
    width: 260px;
  }
  @media (max-width: 1199px) {
    /* the image will disappear with the width <1200px */
    .image-column {
      display: none;
    }
  }



  /* end */

  /* start  portfolio*/
  /* "by me" */
  .portfolio{
    background-color: var(--section-background);
    z-index: -1;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(350px , 1fr) );
    grid-gap: 20px;
    margin-top: 60px;
}

  .portfolio .img img {
    max-width: 100%;
  }
  .portfolio .text {
    padding: 20px;
  }

    .portfolio .text h3 {
          /* to hide the margin of the heading  */
        margin: 0;
        /* padding: 13px 0 0 21px; */
        color: black;
    }
  .portfolio .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6; 
     /* margin: 0; */
    /* padding: 15px;
  
    margin-left: 5px; */
}
  .portfolio .port{
display: grid;
background-color: white;
  }
  /* end portfolio */



  /* start about  */

  /* by me and it's easy if we use flex-basis and flex */

  .about {
    padding-top:  var(--section-padding);
    padding-bottom: calc(var(--section-padding ) + 60px );
  }
 
  .about .about-content{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 250px calc(100% - 500px);
    justify-content: space-between;
   align-items: center;
  }
.about .text{
    position: relative;
    line-height: 1.8;
   
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: center;
}
.about .text :first-child {
    font-weight: bold;
    margin-bottom: 65px;
}
.about .text :nth-child(3) {
    margin-top: 30px;
    color: #777;
}
                 
       .about hr{
        background-color: var(--main-color);
        height: 1px;
        width: 50% ;
        margin: 0;
        position: absolute;
       }

 @media ( max-width:991px )
    {               .about-content .img::before , .about-content .img::after{
                display: none; }

                .about .text p {
                    height: calc(100% - 400px);
                    text-align: center;
                    margin-top: 65px;
                }
                .about .text :nth-child(3) {
                    margin-top: 35px;
                }
            
                .about .about-content hr:first-of-type{
                    margin: 0;
                    position:relative
                }
                
                .about .text{
                    display: flex;
                    flex-flow: column wrap;
                    align-items: center;
                    justify-content: center;
                }
                .about .about-content{
                        margin-top: 80px;
                        display: flex;
                        flex-flow: column wrap;
                        justify-content: space-between;
                        align-items: center;
                    }
    } 
 .about .img img , .about .img {
    width: 250px;
    height: 375px;
    position: relative;
 }
 .about .about-content .img::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
  }
  .about .about-content .img::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
  }
 
 


  /* end about  */

  /* start contact */

  .contact {
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding + 50px);
  }
  .contact .cont {
    padding: 100px 20px ;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .contact .cont  h3{
    font-weight: 900;
   font-size: 35px;
   margin: 0;
   margin-bottom:20px ;
   color: var(--secondary-color);
  }
  .contact .cont .text h3:first-child {
    letter-spacing: -2px;
  }
  @media ( max-width : 768px )
  {
    .contact .cont  h3{
        font-size: x-large;
    }
  }
  .contact .cont .text a:first-of-type{
        background-color: transparent;
        text-decoration: none;
        color: var(--main-color);
  }
  .contact .cont p {
    margin: 0 5px;
  }
  .contact .cont .social {
    display: flex;
    justify-content: center;
  }
  .contact .cont .social i {
    margin: 0 5px;
    color: initial;
  }
  a{
   text-decoration: none;
  }

  /* end contact */

/* footer */
.footer div {
background-color: var(--secondary-color);
width: 100%;
height: 80px;
display: flex;
justify-content: center;
align-items: center;
color: white;
font-weight: 500;
font-size: 18px;
}
.footer div span {
    margin: 0 5px;
    color: var(--main-color);
    font-weight: bold;
}
